<%- include("partials/header") -%>

<form action="/changePassword" method="POST">
    <div class="container border border-danger rounded-lg mt-5 pb-3">
        <div id="message-box" class="mt-3">

        </div>
        <% if (message.length != 0) { %>
            <div class="alert alert-success" role="alert">
                <%=message%>
              </div>
        <% } %>
       <div class="row p-3">
           <div class="col-md-4 text-center">
            <img src="icons/cctv.svg" style="height: 250px;" alt="">
           </div>
            <div class="col-md-5">
                <h4 class="text-danger ">Need To Change Your Password?</h4><br>
                <div style="color: #e6739f; font-weight: bold; width: 200px;">
                    <label for="newPassword">New Password</label><br>
                    <input type="password" size="35" name="newPassword" id="newPassword"><br><br>
                    <label for="confirmPassword">Confirm New Password</label><br>
                    <input type="password" size="35" name="confirmPassword" id="confirmPassword">
                    <input type="hidden" name="userId" value=<%=userId%> >
                </div>
            </div>
            <div class="mt-4 m-md-0 col-md-3 align-self-center">
                <button class="btn btn-block btn-lg btn-danger">Change Password</button>
            </div>
       </div> 
    </div>
</form>

<script>
    newPasswordField = document.querySelector("#newPassword");
    confirmPasswordField = document.querySelector("#confirmPassword");
    document.querySelector("form").addEventListener("submit", function(evt){
        if(newPasswordField.value != confirmPasswordField.value){
            evt.preventDefault();
			document.querySelector("#message-box").innerHTML = '<div class="alert alert-danger">Please Confirm Your Password!</div>';
        }
    });
</script>

<%- include("partials/footer") -%>