<%- include("partials/header") -%>

    <div class="text-center">
        <img class="error-404" src="/icons/404.svg">
        <div class="ml-4 ">
            <p class="display-4 text-secondary">Sorry! Resources You Are Looking For Does Not Exist.</p>
        </div>
    </div>

    <div class="">

    </div>
    
<%- include("partials/footer") -%>