   <%- include("partials/header") -%>
   <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/"><img class="navbar-icon" src="icons/heart.svg" alt="">Connect</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a class="nav-link" href="/"><i class="fas fa-home"></i>  Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i>  Sign In</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/register"><i class="fas fa-user-plus"></i>  Sign Up</a>
                </li>
            </ul>
            </div>
        </div>
      </nav>

      <section id="main">
          <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 order-md-12">
                    <img class="logo" src="icons/logo.svg" alt="">
                </div>
                <div class="col-sm-12 col-md-6">
                    <h1 class="display-3 text-white heading"><b>Meet New People Around Your Campus</b></h1>
                </div>
            </div>
          </div>
      </section>
      
      <section id="features">
        <div class="row justify-content-around">
            <div class="col-3">
                
            </div>

        </div>
      </section>
   <%- include("partials/footer") -%>

